/* inizio sezione logo-sony */
.section-logo-sony{
    background-color: black;
    display: flex;
    justify-content: end;
    margin-top: 0 2px;   
}

#logo-sony{
    margin-right: 10px;
}

/* nav */

.navbar{
    background-color: white;
}

/*
.logo-play{
 justify-content: right;
   
 } */


.icons{
    color: rgb(0, 0, 0);
    top: 10px;
}


.navbar-brand{
    color: black;
}

.button-nav{
    background-color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
   
}

.menu-nav{
    border: 1px solid rgb(206, 202, 202);
    padding: 4px;
    color: rgb(104, 100, 100);
}
/* ------------ */

/* inizio banner */
.content-1{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position-x: center;
    height: 450px;  
}

.content-2{
   color: white;
   width: 380px;
   margin-top: 180px;
   margin-left: 20px;
  
}

@media only screen and (min-width: 375px) {
    
    .content-2{
            margin-left: 12px;
            font-size: 12px;    
    }
}



.container-fluid img{
    margin-top: 30px;
    margin-bottom: 10px;
}

.button-banner{
    background-color: rgb(223, 33, 19);
    border-radius: 15px 15px 15px 15px;
    border: red;
    height: 35px;
    color: white;
}

/* ------ */

/* container-2  (6) immagini*/
.cont-minigame{
    width: 950px;
   
}
.list-videogame{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; 
}


@media all and (min-width="375px"){
     
    .list-videogame{
        width: 250px;
        
    }

    
}

.list-videogame img{
    border: white 2px solid;
    border-radius: 15px 15px 15px 15px;
}

.hover-list:hover{
    border: 2px blue solid;
    padding: 5px;
}

/*  
@media only screen and (min-width:px){
    .img-content>img{
        
    }
}
*/

/* -----container-3----- */

.container-3{
    text-align: center;    
}

.color-text{
    color: gray;  
}

h4{
    color: rgb(48, 59, 207);
    font-size: 15px;
    margin-top: 30px;
   
}
/* fine */

/* container-4 */

.content-cont-4{
    width: col(100% / 2);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

.content-playstation5{
    width: 320px;
    margin-top: 70px;  

}
.text-console{
    width: 100%;
    font-size: 13px;
}

.img-pl5{
    margin-left: 25px;
}

@media only screen and (min-width: 375px) {
    .content-playstation5{
        margin-left: 45px;

    }

    .img-pl5{
        width: 300px;
        margin-right: 30px;
        margin: 5px;
        
    }
}


@media screen and (max-width: 768px) {

    .text-console {
      font-size: 14px;
    }
    
    .img-pl5{
        width: 420px;
       
    }
}

.button-cont-4{
    background-color: rgb(64, 64, 201);
    color: white;
    border-radius: 15px 15px 15px 15px;
    border: white 2px solid;
    width: 200px;
   
}

.button-play5:hover{
    border-radius: 15px 15px 15px 15px;
    border: rgb(74, 40, 196) 2px solid;
    padding: 1px;
    width: 206px;
}

/* fine */

/* inizio cinque img*/

.container-5{
    display: flex;
    width: col(100% / 5);
    height: 270px;
    justify-content: center;
}
/* sistemare xs sopra */
.content-img-5{
    border: rgb(255, 255, 255) solid 3px;
    height: 100px;
    width: 130px;
    margin: 10px;
    margin-bottom: 6px;
}

.content-img-5 > img{
    width: 100%;
    height: 100%;
}

.text-5{
    height: 90px;
    text-align: center;
    font-size: 13px;
}

.content-img-5:hover{
    opacity: 0.5;   
}

.text-5:hover{
    border-bottom:  solid blue 2px;
}

/*  
@media only screen and (min-width: 375px) {
     
    .content-img-5{
        
}
*/



/*  
@media only screen and (min-width: 375px) {
     
        .p{
            display:none;
    }

    
}*/

/* fine */

/* inizio container It takes two */

.sector-5{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size:cover;
    background-position-x: center;
    }
   /* come ridimensionare img */

.content-sector-5{
    color: white;
    width: 400px;
    margin-left: 160px;

}
.content-sector-5>h2{
    width: 300px;
}
.content-sector-5>p{
    font-size: 15px;
    width: 340px;
}
/*  

@media only screen and (min-width: 375px){
     
    .content-sector-5{
        margin-left: 10px;
}

}
*/
/* da rivedere sopra */

/* ------------ */



.items-img{
    background-color: rgb(37, 35, 35);
    width: 100%;

}
.section-6{
    background-color: rgb(37, 35, 35);
    width: 950px;
    padding: 10px;
}

.img-container-6{
    width: col(100% / 6);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 10px;
}


.img-container-6>img{
    border-radius: 15px 15px 15px 15px;
}


.img-container-6>p{
    font-size: 13px;
    color: white;
    margin-top: 5px;
}

#titoli-news{
 color: white;
 margin-bottom: 5px;
 
}
/* da vedere versione xs */

/* ----- */

/* contenuto-play-4 */
.cont-7{
    display: flex;
    justify-content: center;
}

.text-play-4{ 
    margin-top: 25px;
    text-align: center;
}
    
.text-play-4>p{
    width: 600px;
    font-size: 16px;
    color: gray;
   }

/* --sezione tre box-img-- */

.section-mini-box{
    justify-content: center;
    display: flex;
    margin: 30px;
}
.text-content>p{
    font-size: 15px;
    color: gray;
    width: 250px;
    text-align: left;
    
}

.button-mini-box{
    background-color: rgb(48, 48, 204);
    color: white;
    border-radius: 15px 15px 15px 15px;
    border: 2px solid blue;
}

/* bg-plus-monthly */

.bg-plus-monthly{
    background-color: rgb(158, 152, 152);
    height: 340px;
}

.text-plus{
  margin-top: 20px; 
  margin: 15px; 
}

.button-plus{
    background-color: rgb(204, 194, 194);
    color: blue;
    border-radius: 15px 15px 15px 15px;
    border: rgb(211, 211, 211) solid 1px;
}


/* contenuto nuovi sconti */
.cont-sconti{
    justify-content: center;
    display: flex;  
    margin: 40px;
}

.text-sconti>p{
    color: gray;
}

.container-sconti{
    justify-content: center;
    display: flex;
}

.img-sconti{
    margin: 35px;
}


/* PlayStation Now */

.bg-Now{
    background-color: rgb(7, 7, 73);
    height: 350px;
}

.play-now{
    margin: 20px;
}
.text-now{
    color: white;
    margin-top: 20px;
}

.button-now{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    border: white solid 1px;
}

/* social media */
.text-social{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#img-marg{
    margin: 10px;
}

.marg-socialm{
    margin-bottom: 30px;
}


/* inizio footer */

footer{
    background-color: rgb(32, 32, 138); 
}

.list-footer{
  
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 14px;
  
}

.text-link{
    display: inline-block;
    color: white;
    justify-content: center;
}

ul {
    list-style-type: none;
    
    }

.content-footer{
    margin-top: 30px;
   
}

.cont-ft-2 > p{
    color: white;
    width: 520px;
    text-align: left;
    font-size: 13px;
}

#globe{
    color: white;
   
    font-size: 16px;
    margin: 30px;
}