



.section-logo-sony{
    background-color: black;
    display: flex;
    justify-content: end;
    margin-top: 0 2px;
   
    
}

#logo-sony{
    margin-right: 10px;
}

/* nav */

.navbar{
    background-color: white;
}

/*
.logo-play{
 justify-content: right;
   
 } */


.icons{
    color: rgb(0, 0, 0);
    top: 10px;
}


.navbar-brand{
    color: black;
}

.button-nav{
    background-color: black;
    color: white;
    border-radius: 15px 15px 15px 15px;
}
/* ------------ */

.content-1{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    padding: 90px;   
}

.content-2{
   color: white;
   width: 370px;
   height: 260px;
   margin-top: 100px;
}

.container-fluid img{
    margin-top: 30px;
    margin-bottom: 10px;
}
/* ------ */

.container-2{
    display: flex;
    flex-wrap: wrap; 
    width: 1200px;
    justify-content: center;
}



.list-videogame{
    margin-top: 20px;
    width: col(100% / 6 - 25px);
    margin: 25px;
    flex: 1;
    justify-content: center;
    
}

.list-videogame img{
    border: white 2px solid;
    border-radius: 15px 15px 15px 15px;
}

.hover-list:hover{
    border: 2px blue solid;
    padding: 5px;
}

/* -----container-3----- */

.container-3{
    height: 130px;
    text-align: center;    
}

.color-text{
    color: gray;
    
}

h4{
    color: rgb(48, 59, 207);
    font-size: 15px;
    margin-top: 30px;
   
}

/* container-4 */

.container-4{
    width: 100%;
}


.content-cont-4{
    width: col(100% / 2 - 15);
    margin: 50px;
   
}

.text-console{
    width: 350px;
    margin-top: 90px;
    margin-left: 100px
}